<h1>Academy Score</h1>

<p>
  <%= current_user.email %>
</p>

<%= render 'form' %>

Total Score : <%= @total_score %>

<table>
<tr>
  <% @score_calendar.each do |date| %>
    <td bgcolor=<%= date["color"] %>>
      <%= date["date"].strftime("%d")%>
    </td>
  <% end %>
</tr>
