<h1>Academy Score</h1>

<p>
  <%= current_user.email %>
</p>

<%= render 'form' %>

Total Score : <%= @total_score %>

<table>
<tr>
  <% @score_calendar.each do |date| %>
    <td bgcolor=<%= date["color"] %>>
      <%= date["date"].strftime("%d")%>
    </td>
  <% end %>
</tr>
</table>

<h3> 取得したバッチ </h3>

<ul>
<% current_user.badges.each do |badge| %>
  <li><image src="http://www.kg905.jp/images/sozai/icon/kinbacchi_3_1.jpg"　              width=10> <b><%= badge.name %></b> : <%= badge.description %></li>
<% end %>
</ul>
