<h1>Academy Score</h1>

<p>
  <%= @user.email %>
</p>

<%= render 'form' %>

<table>
  <td>
    <% if !@scores.nil? %>
      <%= @now.strftime("%Y/%m/%d %X") %>
    <% end %>
  </td>
</table>

<% if !@scores.nil? %>
  Total Score : <%= @scores.size %>
<% end %>

<table>
<tr>
  <% @date_array.each do |d| %>
    <td bgcolor=<%= d["color"] %>>
      <%= d["date"].strftime("%d")%>
    </td>
  <% end %>
</tr>
