<h1>Home</h1>

<p>
  <%= @user.email %>
</p>

<%= render 'form' %>

<table>
  <td>
    <% if !@scores.nil? %>
      <%= @now.strftime("%Y/%m/%d %X") %>
    <% end %>
  </td>
</table>

<table>
<tr>
  <% @date_array.each do |d| %>
    <td>
      <%= d["date"].strftime("%d")%>
      <%= d["score"] %>
    </td>
  <% end %>
</tr>
</table>

<table>
<tr>
  <td>
    <% if !@scores.nil? %>
      <%= @scores.size %>
    <% end %>
  </td>
</tr>
  <% @scores.each do |s| %>
<tr>
    <td>
      <%= s.created_at.strftime("%Y/%m/%d %X") %>
    </td>
</tr>
  <% end %>
</table>

